/*
Created by: Mienard Lumaad (@themepixels)
*/

/***** RESET BROWSER STYLE *****/
/*******************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 21px;
}

::selection { background: #8c0000; color: #fff; text-shadow: none; } /* Safari */
::-moz-selection { background: #8c0000; color: #fff; text-shadow: none; } /* Firefox */
:-moz-placeholder { color: #bbb; }
::-webkit-input-placeholder { color: #bbb; }
:-ms-input-placeholder { color: #bbb; }

/*** MESSAGES STYLES ***/
.messagepanel { }
.messagemenu { background: #8c0000; margin-top: 15px; }
.messagemenu ul { list-style: none; overflow: hidden; clear: both; }
.messagemenu ul li {
	display: inline-block; float: left; border-right: 1px solid rgba(255,255,255,0.2);
	text-transform: uppercase; font-size: 11px; }
.messagemenu ul li a { display: block; padding: 12px 16px; color: #fff; }
.messagemenu ul li a:hover { text-decoration: none; background: rgba(255,255,255,0.1); }
.messagemenu ul li.active { border: 1px solid #8c0000; border-bottom: 0; }
.messagemenu ul li.active a { background: #fff; color: #8c0000; }
.messagemenu ul li.pull-right { float: right; border-right: 0; border-left: 1px solid rgba(255,255,255,0.2); }
.messagemenu ul li.back { display: none; border-right: 0; }
.messagemenu ul li.back a { cursor: pointer; }

.messagecontent { overflow: hidden; clear: both; }
.messageleft { width: 325px; border: 1px solid #8c0000; border-top: 0; height: 650px; float: left; background: #f7f7f7; }
.messageright { background: #fff; margin-left: 325px; border: 1px solid #8c0000; border-top: 0; border-left: 0; height: 650px; }
.messagesearch { padding: 10px; background: #fff; border-bottom: 1px solid #8c0000; }
.messagesearch input {
	margin: 0; padding: 8px 10px; height: auto; background: #fff url(../images/icons/search.png) no-repeat 275px 8px; }
	
.msglist { list-style: none; overflow: auto; height: 590px; }
.msglist li { display: block; padding: 10px; border-bottom: 1px solid #ddd; overflow: hidden; clear: both; cursor: pointer; }
.msglist li.unread { background: #fff; }
.msglist li.selected { background: #8c0000; }
.msglist li .thumb { width: 40px; height: 40px; float: left; }
.msglist li .summary { margin-left: 50px; color: #666; font-size: 12px; line-height: normal; }
.msglist li.selected .summary { color: #fff; }
.msglist li h4 { font-size: 13px; color: #8c0000; line-height: 14px; }
.msglist li.selected h4 { color: #fff; }
.msglist li .date { height: 10px; color: #999; margin-top: -5px; }
.msglist li.selected .date { color: #fff; opacity: 0.6; }
.msglist li p { line-height: 10px; margin-top: 5px; }

.messageview { overflow: auto; height: 500px; }
.messageview .subject { padding: 14px 20px 13px 20px; font-size: 16px; line-height: 28px; padding-right: 150px; }
.messageview .btn-group { margin-top: 12px; margin-right: 10px; }
.messageview .btn-group .btn { font-size: 11px; text-transform: uppercase; }

.msgauthor { padding: 10px 20px; border: 1px solid #ddd; border-left: 0; border-right: 0; overflow: hidden; clear: both; }
.msgauthor .thumb { width: 30px; height: 30px; float: left; margin-top: 5px; }
.msgauthor .authorinfo { margin-left: 40px; }
.msgauthor .authorinfo h5 { font-size: 12px; line-height: 10px; }
.msgauthor .authorinfo h5 span { font-size: 12px; color: #999; margin-left: 5px; }
.msgauthor .authorinfo .to { font-size: 11px; color: #999; display: block; margin-top: -3px; }
.msgauthor .authorinfo .date { font-size: 12px; color: #999; }

.msgbody { padding: 20px; color: #666; }
.msgbody p { margin: 20px 0; }
.msgbody p:first-child { margin-top: 0; }
.msgbody p:last-child { margin-bottom: 0; }


.msgreply { padding: 10px; border-top: 1px solid #8c0000; }
.msgreply .thumb { width: 40px; height: 40px; float: left; }
.msgreply .reply { margin-left: 50px; }
.msgreply textarea {
		  display: block; width: 100%; height: 128px; -moz-box-sizing: border-box;
		  -webkit-box-sizing: border-box; box-sizing: border-box; }
		  
/*** MEDIA QUERIES ***/
@media screen and (max-width: 768px) {
		  .messageview .subject { padding-right: 110px; padding-left: 10px; }
		  .msgauthor, .msgbody { padding: 10px; }
		  .msgauthor .authorinfo h5 span { margin-left: 0; display: block; }
}
@media screen and (max-width: 720px) {
		  .messageleft { width: 241px; }
		  .messageright { margin-left: 241px; }
}
@media screen and (max-width: 480px) {
		  .messageleft { width: auto; float: none; height: auto; }
		  .messageright { margin-left: 0; display: none; height: auto; border-left: 1px solid #8c0000; }
		  .messagesearch input { background-position: 375px 9px; }
		  .msglist { height: auto; border-bottom-width: 1px; }
		  .messageview { height: auto; }
}
@media screen and (max-width: 360px) {
		  .messagemenu ul { height: 45px; }
		  .messagemenu ul li a { padding: 12px 10px; }  
}
@media screen and (max-width: 320px) {
		  body { font-size: 11px; line-height: 18px; }
}





